<h4>Response</h4>
<table>
  <tr>
    <td>Status Code</td>
    <td>Meaning</td>
    <td>Body</td>
  </tr>
  <% codes.each do |code| %>
    <%= render partial: "response_row", locals: {code: code, endpoint_name: endpoint_name, endpoint_params: endpoint_params, collection: collection} %>
  <% end %>
</table>
