<h4>Response</h4>
<table>
  <tr>
    <th>Status Code</th>
    <th>Meaning</th>
    <th>Body</th>
  </tr>
  <% codes.each do |code| %>
    <%= render partial: "response_row", locals: {code: code, endpoint_name: endpoint_name, endpoint_params: endpoint_params, collection: collection, json_hints: json_hints} %>
  <% end %>
</table>
