<h1>Documentation</h1>
<ol>
  <li><%= link_to "Getting Started", getting_started_path %></li>
  <li><%= link_to "REST API Reference", api_reference_path %></li>
  <li><%= link_to "Client Interfaces", client_interfaces_path %></li>
</ol>
